body{
	width: 100%;
	font-family: Argh, Arial;
	color: #282828;
	/*background-color: #dadfe1;*/
	background-color:  #0082ac;
	
}

a {
	color: black;
}
.profilepic{
	padding-top: 50px;
	padding-left: 50px;
	height: 100px;
	width: 100px;
	float: left;
	padding-right: 10px;
}
h1
{
	margin: 0px;
	padding-top: 45px;
	padding-bottom: 3px;
}
h2
{
	margin: 0px;
}
h3
{
	margin: 0px;
	padding-top: 10px;
}

/*HEADER*/

.header {
	padding-bottom: 5px; 
	padding-top: 5px; 
	padding-right: 20px; 
	padding-left: 10px; 
	margin-right: 10px;
	background-color: #CE421E;
	color: white;
}

.profileheader {
	 float: left;
}

.profilename {
	padding-top: 7px; 
	margin-top: 0; 
	margin-bottom: 0;
}

.settingheader {
	float: right;
}

.headermaintext {
	text-align: center; 
	font-size: 2.3em; 
	margin-top: 0; 
	margin-bottom: 0;
	font-family: Snell Roundhand;
}

.headercog {
	margin-top: 0; 
	font-size: 34px; 
	margin-bottom: 0;
}

.logodiv {
	margin-right: auto; 
	margin-left: auto;
}

/*SINGLE POST PAGE*/

.container2 {
	width: 1270px; 
	margin-right: auto; 
	margin-left: auto; 
	font-family: Helvetica;
}

.bd{
	padding-left: 10px;

}
.basic-info{
	 
	
	float:right; 
	color:  #0082ac;
	font-family: Helvetica;
	display: inline;
	line-height: 2;
	margin-left: 10px;
	width: 20%;
	height: 50%;
	border: 1px solid transparent;
	background-color: white;
	margin-top: 15px;
	padding-left: 10px;
	padding-top:10px;
}
.user-info{
	color: #0082ac;
}

.user-intro{

	margin-left: 1000px;
	float : right;
	font-family: Helvetica;
	display: inline;
	line-height: 2;
	color:  #0082ac;
	width: 20%;
	height: 50%;
	border: 1px solid transparent;
	background-color: white;
	margin-top: 15px;



}

#content {
	min-height: 420px;
}
.h1{
	word-wrap: break-word;
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #494949;
	margin: 0;
	padding: 0 0 15px 0;
	line-height: 1.1;
	font-family: Snell Roundhand;
}
.grid-16-8 .memory{
	float: left;
	width:590px;
	padding-right:40px;
}

#form_note{
	margin: 0;
	padding:0;
	border:0;
}
.autosave-tip{
	color: #999;
}
.row{
	overflow: hidden;

	margin-bottom: 20px;
}
.control-panel{
	float: right;
	overflow: hidden;
	margin-bottom: 5px;
}

.ur{
	list-style: none;

}
.control-panel li{
	float: left;
	position: relative;

}

.control-panel .link-flat{
	position: relative;
	padding-right:12px;
	padding-left:12px;

}
a.lnk-flat:active{
	background: #ddd !important;
	color: #333 !important;
	border-color: #999 #999 #666 !important;


}
a.lnk-flat:hover{
	background-color: transparent !important;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#f8f8f8),color-stop(1,#ddd));
}

.lnk-flat{
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color:#bbb #bbb #999;
	overflow: hidden;
	vertical-align: middle;
	border-radius: 3px;
	height:24px;
	padding: 0 8px;
	line-height: 24px;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 0 4px 4px 0;
	margin: 0!important;
	-webkit-appearance: none;
	background-color: #d9d9d9;
	font: Helvetica ;

}

a:active{
	text-decoration: none;

}


}

.row.note-text label.field{
	font-size: 14px;
	

}

#isay-label{
	position: absolute;
	font-size: 14px;
	color: #aaa;
	cursor: text;
	margin: 6px 0 0 9px;
}

.isay-act{
	height: 100%;
	display: inline-block;
}

#db-isay .isay-act{
	word-break: break-all;
}
.field.topic-btn{
	display: block;
	position: absolute;
	top: -34px;
	right: 10px;
	padding: 2px 9px;
	color: #fff;
	background: #dedbdb;
	border-radius: 4px;
	margin-right: 10px;
}
.upload-section{
	display: block;
	position: relative;
	width: 580px;
	height: 94px;
	border: 3px dashed #eee;
	margin: 3px 0;
	text-align: center;
	color: #ccc;
	background: #fafafa;
}
.upload-section p{
	line-height: 2;
}
.upload-section .upload-btn{
	color: #999;
	z-index:2;
	height: 94px;
	width: 580px;
	top:0;
	left:0;
	font-size:14px;
	line-height: 120px;
}

.graybg {
	background-color: #dadfe1
}
.row.note-title label.field{
	font-size: 14px;
	color: white;
	background-color:#CE421E ;

}
.row.note-privacy label.field{
	color: white;
	background-color: #0099FF;

}

#note_title{
	width: 582px;
	margin-top: 5px;
	padding: 3px;
	border: 1px solid #ccc;
	line-height: 1.62;

}
#note_text{
	resize: vertical;
	width: 582px;
	padding: 3px;
	border: 1px solid #ccc;
	margin-top: 5px;
	height: 400px;

}
#form_note textarea{
	font-size: 13px;
	line-height: 1.62;

}

.note-privacy label{
	margin-right:11px;
	font: 12px Helvetica, Arial;
	line-height: 1.62;
	color: white;

}

.note-privacy input{
	position: relative;
	top: -2.5px;
	margin-right: 3px;
	vertical-align: middle;

}

.btn {
	padding: 5px 16px;
	height: 27px;
	border-radius: 3px;
	right: 55%;
	color: white;
	background-color: #CE421E;
	border: 1px solid white;

	
}
.btn input: hover{
	background-image: -webkit- 
	gradient (liear, left, top, left, bottom,color-stop(0,#f8f8f8),color-stop(1,#ddd));
}



.bn-flat input: hover{
	color: #333 !important;
	background-color:transparent !important;
	background-image: -webkit- 
	gradient (liear, left, top, left, bottom,color-stop(0,#f8f8f8),color-stop(1,#ddd));
}
.bn-flat input{
	border:0;
	height: 25px;
	padding:0 14px;
	color: #333;
	font-size:12px;
	margin:0 !important;
	cursor: pointer;
	vertical-align: middle;
	border-radius: 3px;
}
.bn-flat{
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: #bbb #bbb #999;
	color: #444;
	-webkit-border-radius: 3px;
	overflow: hidden;
	vertical-align: middle;

}

.row.footer .cancel-note{
	position: absolute;
	bottom: 10;
	right:45%;

}

input{
	font-size: 12px;
	font-style: inherit;
	font-weight: inherit;
	vertical-align: middle;
	margin-right: 3px;
}

.profilelink {
	text-decoration: none;
	color: white;
}

.button {
	margin-right: 17px;
}


@font-face {
    font-family: Argh;
    src: url('../Aaargh.ttf');
}


/* Updated Clearfix */
.group:after {
	content: "";
	display: table;
	clear: both;
}
.flex {
	display: -ms-flex!important;
	display: -webkit-flex!important;
	display: -moz-flex!important;
	display: flex!important;
}

a.signup, .slButtons {
	float: right;
	text-decoration: none;
	font-size: 12px;
}
a.signup {
	margin: 10px 5px 0 0;
}
.slButtons a.signup {
	position: static;
	margin-left: 10px;
}
.slButtons a.signup:first-child {
	margin-left: 0;
}
.signup div {
	background: rgba(0,0,0,0.7);
	color: #ecf0f1;
	text-align: center;
	padding: 10px 15px;
	border-radius: 3px;
	transition: all 0.25s ease;
}
.signup div:hover {
	background: rgba(0,0,0,0.6);
}
.login {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	clear: both;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.login * {
	width: 100%;
	display: block;
}
.login .logo {
	width: 50%;
	margin: 0 auto;
	pointer-events: none;
}
.loginContainer {
	padding: 1px 10px 20px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.75);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.passwordReset {
	font-size: 12px;
}

.tagField {
	padding: 3px 0 0 5px;
	border-width: 0;
	text-align: left;
	margin: 10px 0;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	box-sizing: border-box;
	transition: all 0.25s ease;
}


.field {
	padding: 3px 0 0 5px;
	border-width: 0;
	text-align: left;
	margin: 10px 0;
	height: 36px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	box-sizing: border-box;
	transition: all 0.25s ease;
}
.field:focus {
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
label {
	margin: 3px 0;
}
input {
	font-size: 20px;
	font-family: "Argh", Arial;
}
input[type=submit] {
	background: #EEEEEE;
	border: none;
	cursor: pointer;
	padding-top: 6px;

	transition: all 0.25s ease;
}
input[type=submit]:hover {
	background: #DADFE1;
}
.forgot {
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
}
.forgot a {
	width: auto;
	text-decoration: none;
	transition: all 0.25s ease;
}
.forgot a:hover {
	color: #2e2e2e;
}

@media (min-width: 720px) {
	.login {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 410px;
		max-width: 400px;
	}
	.login .logo {
		width: auto;
		max-width: 80%;
	}
	.passwordReset {
		width: 150%;
		margin-left: -30%;
	}
	a.signup, .slButtons {
		font-size: 16px;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}









/* MATTHEW SECTION*/
.container{
	display: block;
	width: 100%;
	height: 25%;
	margin-left: 21%;
}

.authorElement{
	display: inline-block;
	margin-right: 10px;
	/*float: left;*/

}

.proPicResize{
	width: 70px;
	height: auto;
	border: 2px solid transparent;
}

.proPicName{
	text-align: center;
	margin-top: 2px;
}

.panoramaElement{
	display: inline-block;
	line-height: 0;
	margin-left: 0;
	width: 100%;
	border: 2px solid transparent;
	margin-top: 15px;
	background-color: white;
	color: #0082ac;
}

.panoramaResize{
	width: 100%;
	height: auto;
	border-top: 2px solid transparent;
	display: inline-block;
    background-color: black;
    padding: 0;
}

.panoramaHeader{
	width:100%;
}
.mapDiv {
	float: left; 
	width: 700px; 
	padding: 15px; 
	line-height: 130%;
}
.panoramaRight {
	float:right; 
	margin-right: 2%; 
	font-weight: 700; 
	font-family: Argh; 
	font-size: 20px;
}

.textBody {
	font-size: 18px;
}

.textWith{
	font-weight: 700; font-family: Argh; font-size: 21px; line-height: 110%; margin-bottom: 15px;
}

.textRemember {
	font-weight: 700; 
	font-family: Argh; 
	font-size: 25px; 
	line-height: 110%; 
	margin-bottom: 0;
}

.panoramaLeft {
	float:left; 
	margin-left: 2%; 
	font-weight: 700; 
	font-family: Argh; 
	font-size: 20px;
}

.map {
	float: right; 
	width: 33%; 
	padding: 15px;
}




.mapImage {
	width: 100%;
}

.mapsElement{
	position: relative;
	display: inline-block;
	margin-left: .5%;
	width: 16%;
	border: 2px solid black;
}

.mapsResize{
	width: 100%;
	height: auto;
}





/*NEWS FEED MAIN ELEMENT*/
.containerNF{
	display: block;
	width: 75%;
	height: 19%;
	margin-left: 21%;
	margin-bottom: 2%;
}

.authorElementNF{
	display: inline-block;
	float: left;
	height: 100%;
}

.proPicResizeNF{
	width: 70px;
	height: auto;
	border: 2px solid black;
}

.proPicNameNF{
	text-align: center;
}

.panoramaElementNF{
	display: inline-block;
	line-height: 0;
	margin-left: .5%;
	width: 55%;
	height: 100%;
	border: 2px solid black;
	font-size: 1em;
}

.panoramaResizeNF{
	width: 100%;
	height: auto;
	border-top: 2px solid black;
	display: inline-block;
    background-color: black;
    padding: 0;
     -webkit-transition: all .75s linear;
       -moz-transition: all .75s linear;
        -ms-transition: all .75s linear;
         -o-transition: all .75s linear;
            transition: all .75s linear;
}

.panoramaHeaderNF{
	width:100%;
	height: 10%;
	clear:both;
}

.mapsElementNF{
	position: relative;
	display: inline-block;
	line-height: 0;
	margin-left: .5%;
	width: 16%;
	height: 100%;
	border: 2px solid transparent;
}

.mapsResizeNF{
	width: 100%;
	height: 100%;
}

.panoramaResizeNF:hover{
    opacity: .4;
}

.imgWrapNF{
	background-color: transparent;
}





/* FRIENDS WIDGET */
.widget {
	width: 300px;
	margin: 200px auto 0;
	border-radius: 3px;
	padding: 5px 20px;
}
.friends {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap; 
}
.friends .thumb {
	min-width: 30%;
    height: 100px;
    margin: 0 10px 10px 0;
    background: rgba(255,255,255,0.7);
    padding: 0;
    position: relative;
    text-align: right;
    overflow: hidden;
}
.friends .thumb div {
	background-size: cover;
	height: 100%;
}
.friends .thumb img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 100%;
}
.friends .thumb .overlay {
	z-index: 10;
	opacity: 0.4;
	transition: all 0.3s ease;
}
.friends .thumb:hover .overlay, .friends .thumb:hover .name {
	opacity: 0.9;
}
.friends .thumb .name {
	position: absolute;
    bottom: 3px;
    right: 5px;
    color: #ecf0f1;
    z-index: 100;
    opacity: 0.8;
    transition: all 0.3s ease;
}